form {
  width: 600px;
  margin: 0 auto;
  font: normal 16px Helvetica, Arial, sans-serif;
}

fieldset {
  background: #e7e7e7;
  border: none;
  border-left: 4px solid #c1c1c0;
  margin: 0;
  margin-bottom: 2px;
  padding: 25px 34px 40px;
  box-sizing: border-box;
}

dd {
  margin: 0;
}

dt {
  margin: 0 0 12px 0;
}

label {
  color: #676767;
  font-weight: bold;
}

input {
  height: 39px;
  padding: 11px 0 13px 10px;
  font-size: 16px;
}

input,
textarea {
  border: 1px solid #2e67b2;
  border-radius: 5px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  width: 100%;
}


input[type="submit"] {
  background: #2e67b2;
  color: #fff;
  width: 176px;
  height: 45px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background: #6095cb;
}

/*
  -----------------
  Personal Info
  -----------------
*/

.personal-info input[type="text"] {
  width: 49.5%;
  box-sizing: border-box;
}

.personal-info input[type="email"] {
  width: 100%;
}
