main {
  width: 40%;
  padding: 10px;
  border: 1px solid #000;
}

table {
  width: 100%;
  border-collapse: collapse;
  font: normal 20px Helvetica, Arial, sans-serif;
}

span {
  font-weight: 700;
}

td,
tfoot {
  border: 0;
}

td, th {
  border-bottom: 1px solid #000;
  padding: 3px 0;
  box-sizing: border-box;
}

tbody tr td:first-child {
  text-align: left;
}

tbody td[colspan="5"],
tbody tr:nth-of-type(3) td {
  text-align: right;
}

tbody tr:nth-of-type(2) :first-child {
  border-bottom: 10px solid #000;
}

tbody tr:last-child td {
  border: 0;
}

thead th,
thead td,
tfoot th,
tfoot td {
  border: 0;
}

thead {
  border-bottom: 20px solid #000;
}

thead tr:first-child {
  font-size: 2.5rem;
  text-align: left;
}

tbody p:before {
  content: "*";
  margin-right: 15px solid #000;
}

tfoot tr:first-child td {
  border-bottom: 1px solid #000;
}

tfoot td:not(:first-child) {
  padding-right: 7px;
  box-sizing: content-box;
}

.offset {
  text-indent: 20px;
}