body {
  font: 16px normal Helvetica, Arial, sans-serif;
}

nav {
  float: left;
  width: 336px;
  height: 100vh;
  background-color: #464f77;
  color: #b2b5c3;
  padding: 70px 0 0 0;
  box-sizing: border-box;
}

nav h1:first-child:before,
nav h1:nth-of-type(2):before  {
  content: "";
  width: 26px;
  height: 26px;
  padding: 0 11px 0  0;
  display: inline-block;
  vertical-align: middle;
}

nav h1:first-child:before {
  background: url("images/list-icon.jpg") 0 0 no-repeat;
}

nav h1:nth-of-type(2):before {
  background: url("images/completed.jpg") 0 0 no-repeat;
}

nav ul:nth-of-type(1) {
  margin-bottom: 54px;
}

nav ul li {
  width: 100%;
  padding: 14px 31px 14px 137px;
  box-sizing: border-box;  
}

nav ul li p,
nav h1 + p {
  float: right;
}

nav h1 + p {
  vertical-align: middle;
  margin-right: 31px;
}

nav h1,
nav > p {
  display: inline-block;
}

nav h1 {
  color: #f5f5f7;
  font-size: 18px;
  padding: 0 0 11px 101px;
}

nav p,
main h2 + p {
  font-size: 14px;
  border-radius: 50%;
  background-color: #6b7292;
  padding: 2px 6px;
  box-sizing: border-box;
}

nav ul:last-child li {
  text-decoration: line-through;
}

.selected {
  background-color: #383f5f;
  color: #f5f5f7;
}

.selected-count {
  background-color: #148fd5;
  color: #f5f5f7;
}

main {
  float: left;
  width: 867px;
  background-color: #fff;
  color: #060606;
  padding: 23px 0 0 20px;
  box-sizing: border-box;
}

main > h2,
main h2 + p {
  display: inline-block;
}

main h2 {
  font-size: 21px;
  padding: 35px 19px 44px 14px;
}

main h2 + p {
  vertical-align: top;
  margin-top: 35px;
}

main > a {
  text-decoration: none;
  color: #148fd5;
  padding: 16px 0 17px 14px;
  display: block;
}

main ul li p,
main ul li a {
  display: inline-block;
}

main ul li p:hover {
  color: #148fd5;
  cursor: pointer;
}

main ul li a {
  float: right;
}

main ul li:before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  background: transparent url("images/check-box.jpg") 0 0 no-repeat;
}

main ul li {
  border-bottom: 1px solid #e7e7e7;
  padding: 16px 0 17px 14px;
}

main > ul li:first-child {
  border-top: 1px solid #e7e7e7;
}

main > ul li:last-child {
  border-bottom: none;
}

.crossed-out {
  color: #b3b3b3;
  text-decoration: line-through;
}
