@import url("reset.css");

body {
  background-image: linear-gradient(to bottom, #d1dbbd, #fbfef4);
  background-repeat: no-repeat;
  color: #3e606f;
  font: normal 18px 'Roboto Condensed', sans-serif;
}

header {
  width: 920px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

header h1 {
  float: left;
  padding: 45px 0 15px 115px;
  font-size: 36px;
  font-weight: normal;
  color: #193441;
  background: transparent url("assets/logo.png") 0 0 no-repeat;
}

nav {
  float: right;
  padding: 75px 0 0 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px 40px 14px 40px;
  text-decoration: none;
  background: #fcfff5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #91aa9d;
}

nav a.active {
  background: #91aa9d;
  color: #fcfff5;
}

main {
  clear: both;
  background: #fff;
  width: 900px;
  margin: 0 auto;
  padding: 30px;
  overflow: auto;
  box-shadow: 0 5px 5px#b5b5b5;
}

main p {
  padding-bottom: 24px;
  line-height: 23px;  
}

h2 {
  color: #193441;
  margin: 36px 0 20px;
  color: #3e606f;
  font-size: 26px;
  font-style: normal;
}

figure {
  float: right;
  padding-left: 30px;
}

footer {
  width: 960px;
  margin: 0 auto;
  padding: 17px 0 40px;
  font-size: 14px;
}