header {
  background: #3d3d3d;
  color: #fff;
  text-align: center;
  padding: 0 0 55px;
}

header h1 {
  font: normal 70px Helvetica, Arial, sans-serif;
  letter-spacing: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 148px 0 50px;
}

header > figure {
  margin: 0 0 140px;
}

nav > ul li {
  display: inline-block;
  padding: 0 63px 0 0;
}

nav > ul li:last-child {
  padding-right: 0;
}

nav a {
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.active {
  color: #50c3af;
}


