body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

header {
  background: #3d3d3d;
  color: #fff;
  text-align: center;
  padding: 0 0 55px;
}

header h1 {
  font: normal 70px Helvetica, Arial, sans-serif;
  letter-spacing: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 148px 0 50px;
}

header > figure {
  margin: 0 0 140px;
}

nav > ul li {
  display: inline-block;
  padding: 0 63px 0 0;
}

nav > ul li:last-child {
  padding-right: 0;
}

nav a {
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

nav a:hover {
  color: #f5dc39;
}

.active {
  color: #50c3af;
}

main,
footer {
  width: 1000px;
  margin: 0 auto;
}

main {
  overflow: auto;
  padding: 100px 100px 92px;
}

#content {
  float: left;
  width: 75%;
  font-size: 20px;
  line-height: 25px;
  color: #45494d;
  padding-right: 100px;
  box-sizing: border-box;
}

article h2 {
  padding-bottom: 34px;
}

article h2 > a {
  font-size: 36px;
  font-weight: bold;
  color: #45494d;
}

article h2 > a:hover {
  color: #50c3af;
}

article p {
  padding-bottom: 42px;
}

p > a {
  color: #50c3af;
}

.button {
  border-radius: 20px;
  display: inline-block;
  font-size: 14px;
  color: #f5f5f5;
  padding: 5px 25px;
}

.prev {
  cursor: default;
  background: #d2d5da;
  margin-right: 30px;
}

.next {
  background: #50c3af;
}

aside {
  float: right;
  background: #f6f7f8;
  width: 25%;
  padding: 40px 36px;
  box-sizing: border-box;
}

aside h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #384048;
  padding-bottom: 34px;
}

aside p {
  text-align: justify;
  word-spacing: 5px;
}

aside p,
aside li a {
  font-size: 14px;
  line-height: 24px;
  color: #787b80;
}

aside ul {
  list-style: url("images/blt_ul.png");
  margin-left: 20px;
}

aside li a:hover {
  color: #50c3af;
}

aside ul {
  padding-bottom: 122px;
}

footer {
  border-top: 1px solid #d0d0d0;
  padding: 20px 0 56px;
}

footer p {
  font-size: 13px;
  color: #7e8287;
}