body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #384048;
  padding-bottom: 34px;
}

header {
  background: #3d3d3d;
  color: #fff;
  text-align: center;
  padding: 0 0 55px;
}

header h1 {
  font: normal 70px Helvetica, Arial, sans-serif;
  letter-spacing: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 148px 0 50px;
}

header > figure {
  margin: 0 0 140px;
}

nav > ul li {
  display: inline;
  padding: 0 63px 0 0;
}

nav > ul li:last-child {
  padding-right: 0;
}

nav a {
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

nav a:hover {
  color: #f5dc39;
}

.active {
  color: #50c3af;
}

main,
footer {
  max-width: 1000px;
  margin: 0 auto;
}

main {
  overflow: auto;
  padding: 100px 100px 92px;
}

#content {
  float: left;
  width: 73%;
  color: #45494d;
  padding-right: 11%;
  box-sizing: border-box;
}

#content, 
.comments {
  text-align: justify;
}

article {
  line-height: 1.5rem;
  font-size: 20px;
}

article h2 {
  padding-bottom: 34px;
}

article h2 > a,
.comments h2 {
  font-size: 36px;
  font-weight: bold;
  color: #45494d;
}

article h2 > a:hover {
  color: #50c3af;
}

article p {
  padding-bottom: 42px;
}

p > a {
  color: #50c3af;
}

.button {
  border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  color: #f5f5f5;
  padding: 5px 25px;
}

.prev {
  cursor: default;
  background: #d2d5da;
  margin-right: 30px;
}

.next {
  background: #50c3af;
}

aside {
  float: right;
  background: #f6f7f8;
  width: 25%;
  padding: 40px 36px;
  box-sizing: border-box;
}

aside p {
  text-align: justify;
  word-spacing: 5px;
}

aside p,
aside li a {
  font-size: 14px;
  line-height: 24px;
  color: #787b80;
}

aside ul {
  list-style: url("images/blt_ul.png");
  margin-left: 20px;
}

aside li a:hover {
  color: #50c3af;
}

aside ul {
  padding-bottom: 122px;
}

footer {
  border-top: 1px solid #d0d0d0;
  padding: 20px 0 56px;
}

footer p {
  font-size: 13px;
  color: #7e8287;
}

/*
  -----------
  Post Page
  -----------
*/

.comments {
  line-height: 1.5rem;
  margin-top: 50px;
}
.comments h2:first-child {
  padding-bottom: 25px;
}

.comments h2:nth-of-type(2) {
  padding-top: 98px;
}

.comments img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  margin: 0 12px 0 0;
}

.comments img + p {
  padding-bottom: 30px;
  display: inline-block;
  vertical-align: middle;
}

.comments p + p {
  padding-bottom: 27px;
}

form {
  margin: 22px 0 0 0;
}

input[type="text"],
input[type="email"],
form textarea {
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"] {
  height: 40px;
}

form label {
  font-weight: bold;
  font-size: 22px;
}

form dt {
  margin: 0 0 8px 0;
}

form dd {
  margin: 0 0 15px 0;
}

form textarea {
  resize: none;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    padding-bottom: 20px;
  }

  header h1 {
    font-size: 55px;
    padding-top: 48px;
  }

  main {
    padding: 80px 0;
  }

  article h2 {
    padding-bottom: 16px;
  }

  article h2 > a {
    font-size: 28px;
  }

  article p {
    padding-bottom: 30px;
  }

  #content {
    padding-right: 8%;
  }

  .comments h2 {
    font-size: 28px;
  }
   
  .comments h2:nth-of-type(2) {
    padding-top: 55px;
  }
}

@media (max-width: 600px) {
  #content {
    width: 100%;
    padding-right: 0;
    padding: 20px;
    margin-bottom: 50px;
  }

  article {
    padding-bottom: 50px;
  }

  aside {
    clear: both;
    float: none;
    width: 100%;
    padding: 40px;
  }

  aside ul {
    padding-bottom: 0;
  }

  .aside-section {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  
}

@media (max-width: 480px) {

}