body {
  background: #2f2840 url("images/bg_body.gif");
  text-align: center;
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  color: #4d4e4f;
  margin: 0;
}

a {
  text-decoration: none;
}

header img {
  padding: 135px 0 115px 0;
}

main {
  background: #fff;
  margin: 5% 0 0;
  padding: 100px;
}

main,
footer {
  width: 100%;
  box-sizing: border-box;
}

h2:before,
h2:after {
  display: inline-block;
  font-size: 24px;
  content: "\2022";
  vertical-align: 5px;
  padding: 0 24px;
}

nav {
  font-size: 26px;
  text-transform: uppercase;
}

nav li {
  display: inline;
  padding: 0 42px;
}

nav a {
  color: #cacaca;
}

nav a.active {
  font-weight: bold;
  color: #6db9ff;
}

article {
  margin: 0 auto;
  padding: 2%;
}

article h3 {
  color: #7abfcc;
  font-size: 24px;
}

footer {
  background: #e7e7e7;
  padding: 75px 0;
}

footer p {
  color: #b2b2b2;
  width: 50%;
  margin: 0 auto 3%;
}

footer ul {
  margin: 0 auto;
  list-style: none;
}

footer ul li {
  display: inline-block;
}

footer li a {
  width: 49px;
  height: 49px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  margin-right: 62px;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
  background-size: 49px;
}

footer li a.facebook { background-position: 0 -49px; }
footer li a.email { background-position: 0 -98px; }
footer li a.instagram { background-position: 0 100%; }

/*
  ---------------
  Projects styles
  ---------------
*/

.projects article {
  margin-bottom: 5%;
}

.projects h3 {
  color: #3e59b2;
}

.projects p {
  padding: 0 130px;
}

.projects figure img {
  width: 100%;
}


/*
  -----------
  Team styles
  -----------
*/

.team dl {
  display: inline-block;
  width: 18%;
  box-sizing: border-box;
  margin-top: 5%;
}

.team dd {
  margin: 10px 0 0 0;
}

.team p {
  padding-bottom: 7%;
}

.team dd a {
  color: #3e59b2;
  font-weight: 500;
  font-size: 24px;
}

.team h2 {
  margin-bottom: 5%;
}

/*
  ----------------
  Media Queries
  ----------------
*/

@media (max-width: 875px) {
  .team dl {
    width: 48%;
    padding: 0 0 30px 0;
    margin: 0;
  }
}

@media (max-width: 768px) {
  header img {
    padding: 20px;
    width: 223px;
    height: 182px;
  }

  nav li {
    padding: 0 20px;
  }

  main {
    padding: 50px;
  }

  article {
    padding: 0.5%;
  }
  
  article p {
    text-align: justify;
  }

  footer li a {
    margin-right: 32px;
  }

  footer {
    padding: 30px;
  }

  nav {
    font-size: 20px;
  }

  h2:before,
  h2:after {
    vertical-align: 2px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 18px;
  }

  main {
    padding: 20px;
  }

  .projects p {
    padding: 0 20px;
  }

  footer p {
    width: 80%;
  }

  h2:before,
  h2:after {
    vertical-align: 0;
  }
}
